In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import qlib

qlib.__version__

'0.9.3.99'

In [2]:
pwd

'/Users/ianzou/Desktop/Cornorstone/MAFM_6100/project_code'

In [3]:
filePathList = []
for dirname, _, filenames in os.walk('./tw50_processedOHLC'):
    for filename in filenames:
        if filename in ['s0050.csv', 's2330.csv', 's2603.csv']:
            path = os.path.join(dirname, filename)
            filePathList.append(path)
        else:
            pass
print(filePathList)

['./tw50_processedOHLC/s2330.csv', './tw50_processedOHLC/s0050.csv', './tw50_processedOHLC/s2603.csv']

In [4]:
s2330 = pd.read_csv(filePathList[0])
s0050 = pd.read_csv(filePathList[1])
s2603 = pd.read_csv(filePathList[2])

s2330.head()

,Adj_Open,Adj_High,Adj_Low,Adj_Close,Volume,MarketValue(Millions),Value,date,ticker,Adj_Volume,Adj_VWAP
0,14.9313,15.0702,14.7230,14.7577,20354.000,791473,872220.700,2003-01-02,s2330,58654.232695,14.870550
1,15.2786,15.6258,15.1397,15.5564,35762.662,834305,1581033.624,2003-01-03,s2330,102663.687730,15.400125
2,15.5564,15.8689,15.4175,15.5564,33415.747,834305,1506635.118,2003-01-06,s2330,96580.412441,15.599800
3,15.8689,16.2856,15.7647,15.7647,41964.939,845479,1939087.396,2003-01-07,s2330,121794.512962,15.920975
4,15.7994,16.4592,15.7647,16.1467,45846.144,865964,2129771.187,2003-01-08,s2330,132758.060589,16.042500

In [5]:
# check missing data
def missing_data(data):    
    total = data.isnull().sum().sort_values(ascending = False)    
    percent = (data.isnull().sum()/data.isnull().count()*100).sort_values(ascending = False)    
    return pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

In [6]:
missing_data(s0050)

                       Total  Percent
Adj_Open                   0      0.0
Adj_High                   0      0.0
Adj_Low                    0      0.0
Adj_Close                  0      0.0
Volume                     0      0.0
MarketValue(Millions)      0      0.0
Value                      0      0.0
date                       0      0.0
ticker                     0      0.0
Adj_Volume                 0      0.0
Adj_VWAP                   0      0.0

In [7]:
missing_data(s2330)

                       Total  Percent
Adj_Open                   0      0.0
Adj_High                   0      0.0
Adj_Low                    0      0.0
Adj_Close                  0      0.0
Volume                     0      0.0
MarketValue(Millions)      0      0.0
Value                      0      0.0
date                       0      0.0
ticker                     0      0.0
Adj_Volume                 0      0.0
Adj_VWAP                   0      0.0

In [8]:
missing_data(s2603)

                       Total   Percent
Adj_VWAP                   7  0.136799
Adj_Open                   0  0.000000
Adj_High                   0  0.000000
Adj_Low                    0  0.000000
Adj_Close                  0  0.000000
Volume                     0  0.000000
MarketValue(Millions)      0  0.000000
Value                      0  0.000000
date                       0  0.000000
ticker                     0  0.000000
Adj_Volume                 0  0.000000

In [9]:
s2603 = s2603[~s2603.Adj_VWAP.isna()]

In [10]:
## download sample data to align at the required format
'python /Users/ianzou/opt/anaconda3/lib/python3.8/site-packages/qlib/run/get_data.py download_data --file_name csv_data_cn.zip --target_dir ~/.qlib/csv_data/cn_data'

'python /Users/ianzou/opt/anaconda3/lib/python3.8/site-packages/qlib/run/get_data.py download_data --file_name csv_data_cn.zip --target_dir ~/.qlib/csv_data/cn_data'

In [11]:
sample = pd.read_csv('/Users/ianzou/.qlib/csv_data/cn_data/sz300800.csv')
sample.head()

,date,volume,high,low,close,open,adjclose,dividends,symbol
0,2019-11-06,817853,72.919998,60.770000,72.919998,60.77,72.428421,NaN,sz300800
1,2019-11-07,8717820,80.209999,69.050003,80.209999,75.00,79.669281,NaN,sz300800
2,2019-11-08,5613357,88.230003,78.959999,88.230003,80.00,87.635223,NaN,sz300800
3,2019-11-11,9662136,97.050003,90.000000,93.000000,91.75,92.373062,NaN,sz300800
4,2019-11-12,6720898,88.970001,83.699997,83.699997,88.00,83.135750,NaN,sz300800

In [12]:
align_dict = {'date': 'date', 'volume': 'Volume', 'high': 'Adj_High', 'low': 'Adj_Low', 'close': 'Adj_Close', 
              'open': 'Adj_Open', 'adjclose': 'Adj_Close', 'symbol': 'ticker'}

s0050_bin = s0050.copy()
s0050_bin = pd.DataFrame(columns=sample.columns)
for key in align_dict:
    s0050_bin[key] = s0050[align_dict[key]]
s0050_bin['vwap'] = s0050['Adj_VWAP']

s2330_bin = s2330.copy()
s2330_bin = pd.DataFrame(columns=sample.columns)
for key in align_dict:
    s2330_bin[key] = s2330[align_dict[key]]
s2330_bin['vwap'] = s2330['Adj_VWAP']

s2603_bin = s2603.copy()
s2603_bin = pd.DataFrame(columns=sample.columns)
for key in align_dict:
    s2603_bin[key] = s2603[align_dict[key]]
s2603_bin['vwap'] = s2603['Adj_VWAP']

In [13]:
s0050_bin.to_csv('./daily_outputs/s0050.csv')
s2330_bin.to_csv('./daily_outputs/s2330.csv')
s2603_bin.to_csv('./daily_outputs/s2603.csv')

In [14]:
# python scripts/dump_bin.py dump_all --csv_path /Users/ianzou/Desktop/Cornorstone/MAFM_6100/project_code/daily_outputs/ --qlib_dir ~/.qlib/csv_data/my_data/ --symbol_field_name symbol --date_field_name date --include_fields open,high,low,close,volume,adjclose,dividends,vwap

In [15]:
import qlib

qlib.init(provider_uri={'day': '~/.qlib/csv_data/my_data/'})

[57822:MainThread](2023-11-22 23:50:26,302) INFO - qlib.Initialization - [config.py:416] - default_conf: client.
[57822:MainThread](2023-11-22 23:50:26,584) INFO - qlib.Initialization - [__init__.py:74] - qlib successfully initialized based on client settings.
[57822:MainThread](2023-11-22 23:50:26,585) INFO - qlib.Initialization - [__init__.py:76] - data_path={'day': PosixPath('/Users/ianzou/.qlib/csv_data/my_data')}

In [16]:
from qlib.data import D

instruments = D.instruments(market='s2330') # all, s0050, s2330, s2603
stock_list = D.list_instruments(instruments=instruments)
stock_list

{'S2330': [(Timestamp('2003-01-02 00:00:00'),
   Timestamp('2023-09-28 00:00:00'))]}

In [17]:
from qlib.data.dataset.loader import QlibDataLoader

loader = QlibDataLoader(config=(['$open', '$high', '$low', '$close', '$volume', '$adjclose', '$vwap'],['open', 'high', 'low', 'close', 'volume', 'adjclose', 'vwap']))
loader.load(instruments=instruments)

,,open,high,low,close,volume,adjclose,vwap
datetime,instrument,,,,,,,
2003-01-02,S2330,14.9313,15.070200,14.7230,14.7577,20354.000000,14.7577,14.870550
2003-01-03,S2330,15.2786,15.625800,15.1397,15.5564,35762.660156,15.5564,15.400125
2003-01-06,S2330,15.5564,15.868900,15.4175,15.5564,33415.746094,15.5564,15.599800
2003-01-07,S2330,15.8689,16.285601,15.7647,15.7647,41964.937500,15.7647,15.920975
2003-01-08,S2330,15.7994,16.459200,15.7647,16.1467,45846.144531,16.1467,16.042500
...,...,...,...,...,...,...,...,...
2023-09-22,S2330,523.0000,525.000000,522.0000,522.0000,33499.480469,522.0000,523.000000
2023-09-25,S2330,522.0000,529.000000,522.0000,525.0000,20583.373047,525.0000,524.500000
2023-09-26,S2330,521.0000,524.000000,519.0000,519.0000,29064.996094,519.0000,520.750000
2023-09-27,S2330,517.0000,523.000000,516.0000,522.0000,18655.087891,522.0000,519.500000
2023-09-28,S2330,523.0000,525.000000,520.0000,523.0000,28350.349609,523.0000,522.750000

In [18]:
from qlib.data.dataset import handler
from qlib.contrib.data.handler import Alpha158, Alpha360

h = Alpha158(instruments)
print(h.get_cols())
print(h.fetch(col_set="label"))
print(h.fetch(col_set="feature"))

[57822:MainThread](2023-11-22 23:50:26,826) INFO - qlib.timer - [log.py:127] - Time cost: 0.133s | Loading data Done
[57822:MainThread](2023-11-22 23:50:26,830) INFO - qlib.timer - [log.py:127] - Time cost: 0.003s | DropnaLabel Done
[57822:MainThread](2023-11-22 23:50:29,370) INFO - qlib.timer - [log.py:127] - Time cost: 2.539s | CSZScoreNorm Done
[57822:MainThread](2023-11-22 23:50:29,370) INFO - qlib.timer - [log.py:127] - Time cost: 2.544s | fit & process data Done
[57822:MainThread](2023-11-22 23:50:29,371) INFO - qlib.timer - [log.py:127] - Time cost: 2.678s | Init data Done

['KMID', 'KLEN', 'KMID2', 'KUP', 'KUP2', 'KLOW', 'KLOW2', 'KSFT', 'KSFT2', 'OPEN0', 'HIGH0', 'LOW0', 'VWAP0', 'ROC5', 'ROC10', 'ROC20', 'ROC30', 'ROC60', 'MA5', 'MA10', 'MA20', 'MA30', 'MA60', 'STD5', 'STD10', 'STD20', 'STD30', 'STD60', 'BETA5', 'BETA10', 'BETA20', 'BETA30', 'BETA60', 'RSQR5', 'RSQR10', 'RSQR20', 'RSQR30', 'RSQR60', 'RESI5', 'RESI10', 'RESI20', 'RESI30', 'RESI60', 'MAX5', 'MAX10', 'MAX20', 'MAX30', 'MAX60', 'MIN5', 'MIN10', 'MIN20', 'MIN30', 'MIN60', 'QTLU5', 'QTLU10', 'QTLU20', 'QTLU30', 'QTLU60', 'QTLD5', 'QTLD10', 'QTLD20', 'QTLD30', 'QTLD60', 'RANK5', 'RANK10', 'RANK20', 'RANK30', 'RANK60', 'RSV5', 'RSV10', 'RSV20', 'RSV30', 'RSV60', 'IMAX5', 'IMAX10', 'IMAX20', 'IMAX30', 'IMAX60', 'IMIN5', 'IMIN10', 'IMIN20', 'IMIN30', 'IMIN60', 'IMXD5', 'IMXD10', 'IMXD20', 'IMXD30', 'IMXD60', 'CORR5', 'CORR10', 'CORR20', 'CORR30', 'CORR60', 'CORD5', 'CORD10', 'CORD20', 'CORD30', 'CORD60', 'CNTP5', 'CNTP10', 'CNTP20', 'CNTP30', 'CNTP60', 'CNTN5', 'CNTN10', 'CNTN20', 'CNTN30', 'CNTN60', 'CNTD5', 'CNTD10', 'CNTD20', 'CNTD30', 'CNTD60', 'SUMP5', 'SUMP10', 'SUMP20', 'SUMP30', 'SUMP60', 'SUMN5', 'SUMN10', 'SUMN20', 'SUMN30', 'SUMN60', 'SUMD5', 'SUMD10', 'SUMD20', 'SUMD30', 'SUMD60', 'VMA5', 'VMA10', 'VMA20', 'VMA30', 'VMA60', 'VSTD5', 'VSTD10', 'VSTD20', 'VSTD30', 'VSTD60', 'WVMA5', 'WVMA10', 'WVMA20', 'WVMA30', 'WVMA60', 'VSUMP5', 'VSUMP10', 'VSUMP20', 'VSUMP30', 'VSUMP60', 'VSUMN5', 'VSUMN10', 'VSUMN20', 'VSUMN30', 'VSUMN60', 'VSUMD5', 'VSUMD10', 'VSUMD20', 'VSUMD30', 'VSUMD60', 'LABEL0']
                         LABEL0
datetime   instrument
2003-01-02 S2330       0.000000
2003-01-03 S2330       0.013390
2003-01-06 S2330       0.024231
2003-01-07 S2330      -0.010758
2003-01-08 S2330       0.026088
...                         ...
2023-09-22 S2330      -0.011429
2023-09-25 S2330       0.005780
2023-09-26 S2330       0.001916
2023-09-27 S2330            NaN
2023-09-28 S2330            NaN

[5117 rows x 1 columns]
                           KMID      KLEN     KMID2       KUP      KUP2  \
datetime   instrument
2003-01-02 S2330      -0.011627  0.023253 -0.500000  0.009303  0.400057
2003-01-03 S2330       0.018182  0.031816  0.571488  0.004542  0.142769
2003-01-06 S2330       0.000000  0.029017  0.000000  0.020088  0.692289
2003-01-07 S2330      -0.006566  0.032825 -0.200039  0.026259  0.799961
2003-01-08 S2330       0.021982  0.043957  0.500071  0.019779  0.449964
...                         ...       ...       ...       ...       ...
2023-09-22 S2330      -0.001912  0.005736 -0.333333  0.003824  0.666667
2023-09-25 S2330       0.005747  0.013410  0.428571  0.007663  0.571429
2023-09-26 S2330      -0.003839  0.009597 -0.400000  0.005758  0.600000
2023-09-27 S2330       0.009671  0.013540  0.714286  0.001934  0.142857
2023-09-28 S2330       0.000000  0.009560  0.000000  0.003824  0.400000

                           KLOW     KLOW2      KSFT     KSFT2     OPEN0  ...  \
datetime   instrument                                                    ...
2003-01-02 S2330       0.002324  0.099943 -0.018605 -0.800113  1.011763  ...
2003-01-03 S2330       0.009091  0.285743  0.022731  0.714463  0.982142  ...
2003-01-06 S2330       0.008929  0.307710 -0.011159 -0.384579  1.000000  ...
2003-01-07 S2330       0.000000  0.000000 -0.032825 -1.000000  1.006610  ...
2003-01-08 S2330       0.002196  0.049965  0.004399  0.100072  0.978491  ...
...                         ...       ...       ...       ...       ...  ...
2023-09-22 S2330       0.000000  0.000000 -0.005736 -1.000000  1.001916  ...
2023-09-25 S2330       0.000000  0.000000 -0.001916 -0.142857  0.994286  ...
2023-09-26 S2330       0.000000  0.000000 -0.009597 -1.000000  1.003854  ...
2023-09-27 S2330       0.001934  0.142857  0.009671  0.714286  0.990421  ...
2023-09-28 S2330       0.005736  0.600000  0.001912  0.200000  1.000000  ...

                         VSUMN5   VSUMN10   VSUMN20   VSUMN30   VSUMN60  \
datetime   instrument
2003-01-02 S2330            NaN       NaN       NaN       NaN       NaN
2003-01-03 S2330       0.000000  0.000000  0.000000  0.000000  0.000000
2003-01-06 S2330       0.132179  0.132179  0.132179  0.132179  0.132179
2003-01-07 S2330       0.089220  0.089220  0.089220  0.089220  0.089220
2003-01-08 S2330       0.077748  0.077748  0.077748  0.077748  0.077748
...                         ...       ...       ...       ...       ...
2023-09-22 S2330       0.636529  0.383114  0.478843  0.481107  0.484584
2023-09-25 S2330       0.698285  0.469844  0.468699  0.508542  0.513292
2023-09-26 S2330       0.397271  0.434089  0.451300  0.473790  0.485713
2023-09-27 S2330       0.611944  0.490962  0.500052  0.522842  0.499115
2023-09-28 S2330       0.586778  0.454151  0.555765  0.491230  0.487288

                         VSUMD5   VSUMD10   VSUMD20   VSUMD30   VSUMD60
datetime   instrument
2003-01-02 S2330            NaN       NaN       NaN       NaN       NaN
2003-01-03 S2330       1.000000  1.000000  1.000000  1.000000  1.000000
2003-01-06 S2330       0.735642  0.735642  0.735642  0.735642  0.735642
2003-01-07 S2330       0.821560  0.821560  0.821560  0.821560  0.821560
2003-01-08 S2330       0.844503  0.844503  0.844503  0.844503  0.844503
...                         ...       ...       ...       ...       ...
2023-09-22 S2330      -0.273059  0.233772  0.042313  0.037786  0.030832
2023-09-25 S2330      -0.396571  0.060312  0.062602 -0.017084 -0.026583
2023-09-26 S2330       0.205459  0.131822  0.097401  0.052419  0.028574
2023-09-27 S2330      -0.223889  0.018077 -0.000104 -0.045683  0.001770
2023-09-28 S2330      -0.173557  0.091698 -0.111531  0.017540  0.025424

[5117 rows x 158 columns]

In [19]:
h.to_pickle('./alpha158_s2330.pkl')

In [20]:
instruments = D.instruments(market='all') # all, s0050, s2330, s2603
stock_list = D.list_instruments(instruments=instruments)
h = Alpha158(instruments)
h = h.fetch()
h.to_pickle('./alpha158_3stocks.pkl')

[57822:MainThread](2023-11-22 23:50:33,748) INFO - qlib.timer - [log.py:127] - Time cost: 4.357s | Loading data Done
[57822:MainThread](2023-11-22 23:50:33,756) INFO - qlib.timer - [log.py:127] - Time cost: 0.003s | DropnaLabel Done
[57822:MainThread](2023-11-22 23:50:36,270) INFO - qlib.timer - [log.py:127] - Time cost: 2.513s | CSZScoreNorm Done
[57822:MainThread](2023-11-22 23:50:36,271) INFO - qlib.timer - [log.py:127] - Time cost: 2.522s | fit & process data Done
[57822:MainThread](2023-11-22 23:50:36,271) INFO - qlib.timer - [log.py:127] - Time cost: 6.881s | Init data Done

In [21]:
instruments = D.instruments(market='s0050') # all, s0050, s2330, s2603
stock_list = D.list_instruments(instruments=instruments)
h = Alpha158(instruments)
h = h.fetch()
h.to_pickle('./alpha158_s0050.pkl')

[57822:MainThread](2023-11-22 23:50:36,419) INFO - qlib.timer - [log.py:127] - Time cost: 0.130s | Loading data Done
[57822:MainThread](2023-11-22 23:50:36,422) INFO - qlib.timer - [log.py:127] - Time cost: 0.002s | DropnaLabel Done
[57822:MainThread](2023-11-22 23:50:38,897) INFO - qlib.timer - [log.py:127] - Time cost: 2.475s | CSZScoreNorm Done
[57822:MainThread](2023-11-22 23:50:38,898) INFO - qlib.timer - [log.py:127] - Time cost: 2.479s | fit & process data Done
[57822:MainThread](2023-11-22 23:50:38,899) INFO - qlib.timer - [log.py:127] - Time cost: 2.610s | Init data Done

In [22]:
instruments = D.instruments(market='s2603') # all, s0050, s2330, s2603
stock_list = D.list_instruments(instruments=instruments)
h = Alpha158(instruments)
h.fetch()
h.to_pickle('./alpha158_s2603.pkl')

[57822:MainThread](2023-11-22 23:50:39,045) INFO - qlib.timer - [log.py:127] - Time cost: 0.136s | Loading data Done
[57822:MainThread](2023-11-22 23:50:39,048) INFO - qlib.timer - [log.py:127] - Time cost: 0.002s | DropnaLabel Done
[57822:MainThread](2023-11-22 23:50:41,626) INFO - qlib.timer - [log.py:127] - Time cost: 2.578s | CSZScoreNorm Done
[57822:MainThread](2023-11-22 23:50:41,627) INFO - qlib.timer - [log.py:127] - Time cost: 2.582s | fit & process data Done
[57822:MainThread](2023-11-22 23:50:41,627) INFO - qlib.timer - [log.py:127] - Time cost: 2.718s | Init data Done